@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic");

html {
	font-family: "open sans", sans-serif;
	font-size: 14px;
	line-height: 1.75em;
}

body {
	margin: 0;
}

.mono, pre, tt {
	font-family: monospace;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "adelle-1", "adelle-2", serif;
	font-weight: 600;
}

h2, h3 {
	color: #226FC2;
}

.top-bar {
	background: #0C4A6E;
	background: -moz-linear-gradient(top center, #0C4A6E, #093C5E);
	background: -webkit-linear-gradient(top, #0C4A6E 0%, #093C5E 100%);
	color: #eee;
	padding: 0.7em 0 0.8em 0;
}

a:link { color: #226FC2; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom: 1px solid #999; }
a:visited { color: #444; }

.top-bar .logo a {
	font-family: "open sans", sans-serif;
	font-size: 1.1em;
	color: #f8f9fb;
}

.top-bar a {
	color: #e0e2e8;
	text-decoration: none;
	font-weight: 600;
}

.top-bar a:hover {
	color: #f0f2f8;
}

.center {
	width: 1000px;
	margin: 0 auto;
}

.document {
	padding: 1px 0;
	width: 1000px;
	margin: 2em auto;
	position: relative;
}

.documentwrapper {
	float: left;
	width: 700px;
}

.align-right {
	padding: 0 0 10px 10px;
	display: block;
	float: right;
}

.align-center {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.align-left {
	float: left;
}

.sphinxsidebar {
	float: right;
	width: 280px;
	font-size: 0.9em;
	line-height: 1.75em;
	background: #fafbfe;
}

.sphinxsidebarwrapper {
	margin: 2em;
}

.sphinxsidebar ul {
	padding-left: 16px;
}

.sphinxsidebar a {
	color: #444;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}

.sphinxsidebar a:hover {
	border-bottom: 1px solid #999;
}

.related {
	display: none;
}

.footer {
	clear: both;
	width: 960px;
	margin: 0 auto;
	padding: 2em 0;
	text-align: right;
	font-size: 0.9em;
	color: #bbb;
}

.field-list {
	text-align: left;
}

.field-body ul {
	padding-left: 1.5em;
}

.field-body strong {
	font-family: monospace;
	font-weight: normal;
	font-size: 1em;
}

.headerlink {
	text-decoration: none;
	color: #f8f8f8;
	padding: 0 6px;
}

.headerlink:hover {
	color: #bbb;
}

dd {
	margin-left: 1.5em;
}

div.highlight {
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}

pre {
	background: #D9E8F7;
	padding: 1em 2em;
	line-height: 1.5em;
}


div.admonition {
	background: #fafafa;
	margin: 15px 20px;
	padding: 15px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

div.admonition.warning {
	border: 1px solid;
	background-color: #FEEFD0;
}

div.admonition.tip {
	border: 1px solid;
	background-color: #BDE5F8;
}

div.admonition tt.xref, div.admonition a tst {
	border-bottom: 1px solid #fafafa;
}

dd div.admonition {
	margin-left: -10px;
	padding-left: 60px;
}

div.admonition p.admonition-title {
	font-weight: normal;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1;
}

div.admonition p.last {
	margin-bottom: 0;
}

dt:target, .highlight {
	background: #FAF3E8;
}

div.note {
	background-color: #d9e8f7;
	border: 1px dashed #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}
 
div.topic {
    background-color: #eee;
}
 
p.admonition-title {
    display: inline;
}
 
p.admonition-title:after {
    content: ":";
}

p.caption {
	text-align: center;
}

pre, tt {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

img.screenshot {

}

tt.descname, tt.descclassname {
    font-size: 0.95em;
}

tt.descname {
    padding-right: 0.08em;
}

img.screenshot {
    -moz-box-shadow: -4px 11px 21px #ccc;
    -webkit-box-shadow: -4px 11px 21px #ccc;
    box-shadow:	-4px 11px 21px #ccc;
}

img.screenshot.align-right {
	margin: 15px 20px;
}

img.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	border: none; margin: 20px 0;
}

table tr, td {
	border: none; 
	border-bottom: 1px solid #eee;
}

table td {
	padding: 5px;
}

table th {
	border: none;
	background-color: #E6E6FA;
}

table.docutils caption {
	line-height: 35px;

}

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

ul, ol {
	margin: 0 0 10px 20px;
	padding: 0;
}

div.toctree-wrapper.compound ul {
	margin: 0 0 10px 40px;
}

ul.simple {
	margin: 10px 0 10px 40px;
	padding: 0;
}

pre {
	overflow: auto;
	overflow-y: hidden;
}

dl pre, blockquote pre, li pre {
    margin-left: -60px;
    padding-left: 60px;
}